@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.bonuses-container {
  text-align: center;
  padding: 2rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.bonuses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.bonus-card {
  border: 2px dashed #e94b8b;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 200px;
}

.bonus-card img {
  width: 50px;
  margin-bottom: 1rem;
}

.bonus-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bonus-card p {
  margin-bottom: 1rem;
}

.worth-text {
  font-weight: bold;
}

.registerBtnToday {
  font-family: "Outfit", Sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1em;
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background: linear-gradient(to right, #ff7f50, #ff1493);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 20px 30px 100px 0px
    rgba(228, 86.00000000000009, 213.80000000000007, 0.2);
  padding: 20px 150px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-color: transparent;
  justify-content: center;
  animation: shake 0.9s infinite;
  animation-delay: 2s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .bonuses-grid {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.5rem;
  }

  .bonus-card h3 {
    font-size: 1.25rem;
  }

  .registerBtnToday {
    width: 250px;
    height: 50px;
    padding: 10px 10px;
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .registerBtnToday {
    width: 250px;
    height: 50px;
    padding: 10px 10px;
    font-size: 19px;
  }
}
