@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.checkbox-form-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.checkbox-form-container h2 {
  font-size: 1.8em;
  margin-bottom: 30px;

  color: #ff4d4d;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: start;
}

.checkbox-item {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: 1px solid #bdc3c7;
}

.checkbox-item input[type="checkbox"] {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  accent-color: #10b981;
}

.checkbox-item label {
  font-size: 1em;
  color: #1f2937;
}

.checkbox-item label strong {
  font-weight: bold;
  color: #000;
}

.checkbox-item:hover {
  background-color: #e5e7eb;
}

.textBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionBtn {
  font-family: "Outfit", Sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1em;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff6819;
  border-radius: 10px;
  box-shadow: 20px 30px 100px 0px
    rgba(228, 86.00000000000009, 213.80000000000007, 0.2);
  padding: 20px 150px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-color: transparent;
  justify-content: center;
  animation: shake 0.9s infinite;
  animation-delay: 2s;
}

@media (max-width: 768px) {
  .checkbox-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .checkbox-form-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .checkbox-item {
    padding: 10px 15px;
  }

  .checkbox-item label {
    font-size: 0.9em;
  }

  .sectionBtn {
    width: 250px;
    height: 50px;
    padding: 10px 10px;
    font-size: 19px;
  }

  .textBox {
    text-align: center;
  }

  .textBox h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .checkbox-form-container {
    padding: 15px;
  }

  .checkbox-form-container h2 {
    font-size: 1rem;
  }

  .checkbox-item {
    padding: 8px 12px;
  }

  .checkbox-item label {
    font-size: 0.8em;
  }

  .checkbox-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
  .sectionBtn {
    width: 250px;
    height: 50px;
    padding: 10px 10px;
    font-size: 19px;
  }

  .textBox {
    text-align: center;
    padding: 0px 20px;
  }

  .textBox h1 {
    font-size: 1.3rem;
  }
}
